*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}


body{
    background:#18181b;
    color:white;
}


.container{

    max-width:600px;
    margin:auto;
    padding:15px;

}


/* HEADER */

.header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:20px;

}


.logo{

    font-size:20px;
    font-weight:800;

}



#searchButton{

    width:38px;
    height:38px;

    border-radius:50%;

    background:#5865f2;

    padding:0;

    font-size:18px;

}





/* PROFILE */

.profile-card{

    display:flex;
    flex-direction:column;

    align-items:center;

    margin-bottom:20px;

}



.profile-card img{

    width:80px;
    height:80px;

    border-radius:50%;

    object-fit:cover;

    border:3px solid #5865f2;

}



.profile-info{

    text-align:center;

    margin-top:8px;

}



.profile-info h3{

    font-size:18px;

}


.profile-info span{

    color:#aaa;

    font-size:14px;

}





/* SEARCH */

.search-box{

    margin-bottom:15px;

    animation:fade .3s;

}


.hidden{

    display:none;

}







/* INPUT */

input{

    width:100%;

    padding:16px;

    margin-bottom:14px;

    border:none;

    outline:none;

    border-radius:18px;

    background:#29292e;

    color:white;

    font-size:16px;

}





/* BUTTON */

button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:18px;

    background:#5865f2;

    color:white;

    font-size:17px;

    font-weight:bold;

    cursor:pointer;

}





/* COUNT */

.count-box{

    color:#aaa;

    margin:15px 0;

}





/* USER CARD */


.card{

    background:#242428;

    border-radius:22px;

    padding:18px;

    margin-bottom:15px;

    text-align:center;

    animation:fade .35s;

}



.avatar{

    width:70px;
    height:70px;

    margin:auto;

    border-radius:50%;

    overflow:hidden;

    margin-bottom:10px;

}



.avatar img{

    width:100%;
    height:100%;

    object-fit:cover;

}



.username{

    color:#aaa;

    margin-bottom:15px;

}




/* TIKTOK BUTTON */


.tiktok-button{

    display:block;

    padding:14px;

    border-radius:18px;

    background:#ff315c;

    color:white;

    text-decoration:none;

    font-weight:bold;

}




.delete{

    margin-top:12px;

    background:#ed4245;

}





.error{

    text-align:center;

    color:#ff5555;

}



@keyframes fade{

    from{

        opacity:0;

        transform:translateY(15px);

    }

    to{

        opacity:1;

        transform:none;

    }

}
.add-button{

width:100%;
height:55px;

border:none;
border-radius:18px;

background:#5865f2;
color:white;

font-size:18px;
font-weight:bold;

transition:.3s;

}


.add-button:active{

transform:scale(.95);

}



.add-panel{


max-height:0;

overflow:hidden;

opacity:0;

transform:translateY(-20px);

transition:.4s;

}



.add-panel.active{


max-height:400px;

opacity:1;

transform:translateY(0);

}



.add-panel input{


width:100%;

padding:15px;

margin-top:12px;

border-radius:15px;

border:none;

background:#232428;

color:white;

font-size:16px;


}



#saveBtn{


margin-top:15px;

width:100%;

height:50px;

border-radius:15px;

border:none;

background:#23a559;

color:white;

font-size:17px;

font-weight:bold;


}