body{

margin:0;

background:#0f0f12;

color:white;

font-family:Arial;


}


.container{

padding:15px;

}



header{

display:flex;

justify-content:space-between;

align-items:center;

}



header button{

background:#222;

border:0;

color:white;

font-size:22px;

border-radius:50%;

width:45px;

height:45px;

}



.card{


background:#18181d;

padding:15px;

border-radius:20px;

margin-top:20px;


}



input{


width:100%;

padding:14px;

margin:7px 0;

border-radius:12px;

border:0;

background:#24242a;

color:white;


}



button{


cursor:pointer;


}


#saveButton{


width:100%;

padding:14px;

border-radius:15px;

background:#ff0050;

color:white;

border:0;


}



.count{


margin:20px 0;

font-size:18px;


}




.user-card{


display:flex;

align-items:center;

gap:15px;

background:#18181d;

padding:15px;

border-radius:20px;

margin-bottom:12px;

animation:show .3s;


}


.user-card img{


width:55px;

height:55px;

border-radius:50%;


}



.user-card a{


color:#00aaff;

text-decoration:none;


}


.delete{


margin-left:auto;

background:none;

border:0;

font-size:20px;


}



.hidden{

display:none;

}



@keyframes show{


from{

opacity:0;

transform:translateY(20px);

}


to{

opacity:1;

transform:none;

}


}