<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1">

<title>TikTok Members</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://telegram.org/js/telegram-web-app.js"></script>

</head>


<body>


<div class="container">


<!-- HEADER -->

<div class="header">

    <div class="brand">
        TikTok Members
    </div>


    <button 
        id="searchButton"
        class="icon-btn"
    >
        🔍
    </button>


</div>





<!-- PROFILE -->


<div class="profile-card">


    <img 
        id="avatar"
        class="avatar"
        src="/static/default.png"
    >



    <div class="profile-info">


        <h3 id="name">
            User
        </h3>


        <span id="username">
            @username
        </span>


    </div>


</div>






<!-- SEARCH -->


<div 
id="searchBox"
class="search-box hidden"
>


<input
id="search"
placeholder="Поиск участника..."
>



</div>







<!-- ADMIN PANEL -->


<div id="adminArea">


<button 
id="addUserBtn"
class="add-btn"
>

➕ Добавить участника

</button>



<div 
id="addPanel"
class="add-panel hidden"
>



<input 
id="nickname"
placeholder="Имя Telegram"
>


<input 
id="tiktok"
placeholder="TikTok @username"
>


<input 
id="tiktokUrl"
placeholder="Ссылка TikTok"
>


<button 
id="saveBtn"
>

Добавить

</button>


</div>


</div>






</div>







<!-- COUNT -->


<div class="count-box">


<span id="count">

0 участников

</span>


</div>






<!-- USERS -->


<div id="users">


</div>








<script>


const tg = window.Telegram.WebApp;


tg.ready();

tg.expand();



const user = tg.initDataUnsafe.user;



if(user){


document.getElementById("name").innerText =
user.first_name || "User";


document.getElementById("username").innerText =
"@" + (user.username || "username");



if(user.photo_url){

document.getElementById("avatar").src =
user.photo_url;

}


}



</script>



<script src="/static/app.js?v=11"></script>



</body>


</html>