<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>TikTok Members</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://telegram.org/js/telegram-web-app.js"></script>

</head>


<body>


<div class="container">


<header>

<h2>
TikTok Members
</h2>


<button id="searchButton">
🔍
</button>


</header>



<div id="searchBox" class="hidden">

<input 
id="search"
placeholder="Поиск..."
>

</div>




<!-- добавление -->

<div id="userPanel" class="card hidden">


<h3>
Добавить участника
</h3>


<input 
id="tiktok"
placeholder="@nickname"
>


<input 
id="tiktokUrl"
placeholder="Ссылка TikTok"
>


<button id="saveButton">
Добавить
</button>


</div>




<div class="count">

<span id="count">
0 участников
</span>

</div>




<div id="users"></div>



</div>


<script src="/static/app.js"></script>


</body>

</html>