<!DOCTYPE html>
<html lang="ru">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>TikTok Members</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://telegram.org/js/telegram-web-app.js"></script>

</head>


<body>


<div class="container">



<!-- HEADER -->

<div class="header">


    <div class="brand">

        TikTok Members

    </div>


    <button id="searchButton" class="icon-btn">

        🔍

    </button>


</div>





<!-- PROFILE -->

<div class="profile-card">


    <img id="avatar" src="/static/default.png">


    <div class="profile-info">


        <h3 id="name">
            User
        </h3>


        <span id="username">
            @username
        </span>


    </div>


</div>





<!-- SEARCH -->

<div id="searchBox" class="search-box hidden">


    <input 
        id="search"
        type="text"
        placeholder="Поиск TikTok..."
    >


</div>







<!-- ADMIN ADD -->

<button id="addBtn" class="add-button">
➕ Добавить участника
</button>


<div id="addPanel" class="add-panel">


<input id="nickname"
placeholder="Никнейм Telegram">


<input id="tiktok"
placeholder="TikTok @username">


<input id="tiktokUrl"
placeholder="Ссылка TikTok">


<button id="saveBtn">
Добавить
</button>


</div>


</div>







<!-- MEMBERS -->

<div class="count-box">

<span id="count">

0 участников

</span>

</div>



<div id="users">


</div>





</div>



<script src="/static/app.js"></script>


</body>

</html>